<nz-card [nzTitle]="cardHeader">
  <nz-table  [nzLoading]="isLoading" #basicTable [nzData]="dataSet">
    <thead>
    <tr>
      <th>Nombre</th>
      <th class="hidden">Apellido</th>
      <th class="hidden">Salario</th>
      <th class="hidden">Departamento</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.name}}</td>
      <td class="hidden">{{data.lastname}}</td>
      <td class="hidden">{{data.salary |  currency:'USD':true:'2.2-2'}}</td>
      <td class="hidden">{{data.department}}</td>
      <td>
        <a>Action 一 {{data.name}}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #cardHeader>
  <span>Listado de empleados</span>
  <button routerLink="/new-employee" nz-button style="float:right;" type="button" nzType="primary">Crear empleado</button>
</ng-template>
