<nz-layout>
  <nz-sider [nzBreakpoint] = "'xs'" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">

      <li routerLink="/employees" routerLinkActive="ant-menu-item-selected" nz-menu-item><span><i class="anticon anticon-user"></i><span class="nav-text">Empleados</span></span></li>
      <li routerLink="/dashboard" routerLinkActive="ant-menu-item-selected" nz-menu-item><span><i class="anticon anticon-dashboard"></i><span class="nav-text">Dashboard</span></span></li>
      <li routerLink="/documents" routerLinkActive="ant-menu-item-selected" nz-menu-item><span><i class="anticon anticon-dashboard"></i><span class="nav-text">documents</span></span></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed"
         (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content style="margin:0 16px; height: 800px; padding-top: 30px">
    <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #triggerTemplate>
  <i class="anticon anticon-up"></i>
</ng-template>
