<div nz-row [nzGutter]="8">
  <div nz-col style="margin-bottom: 10px" [nzXs]="{ span: 24 }" [nzLg]="{ span: 8}">
    <nz-card class="primary"  nzTitle="Cantidad de empleados">
      <i class="anticon anticon-bar-chart ant-icon"></i> <span style="float: right" class="huge">{{employeesQuantity}}</span>
    </nz-card>
  </div>
  <div nz-col style="margin-bottom: 10px" [nzXs]="{ span: 24 }" [nzLg]="{ span: 8}">
    <nz-card nzTitle="Cantidad de empleados">
      <i class="anticon anticon-bar-chart ant-icon"></i> <span style="float: right" class="huge">{{employeesQuantity}}</span>
    </nz-card>
  </div>
  <div nz-col style="margin-bottom: 10px" [nzXs]="{ span: 24 }" [nzLg]="{ span: 8}">
    <nz-card nzTitle="Cantidad de empleados">
      <i class="anticon anticon-bar-chart ant-icon"></i> <span style="float: right" class="huge">{{employeesQuantity}}</span>
    </nz-card>
  </div>
</div>
<div nz-row [nzGutter]="8">
  <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24}">
    <nz-card nzTitle="Card title">
      <p>Card content</p>
    </nz-card>
  </div>
</div>
